<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Odin.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Odin.My.MySettings>
            <setting name="dbLocation" serializeAs="String">
                <value>C:\Users\William\Documents\OdinHealth.accdb</value>
            </setting>
            <setting name="backupDate" serializeAs="String">
                <value />
            </setting>
            <setting name="accountAdmin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="accountUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="applicationEmail" serializeAs="String">
                <value>william.w.y.shen+odin@gmail.com</value>
            </setting>
            <setting name="TEADate" serializeAs="String">
                <value />
            </setting>
            <setting name="BEADate" serializeAs="String">
                <value />
            </setting>
            <setting name="accountFullName" serializeAs="String">
                <value />
            </setting>
        </Odin.My.MySettings>
    </userSettings>
</configuration>